<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106789122724-1gctbp7vvj4lvi2na8dbi3tgapb8l7as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106789122724-1gctbp7vvj4lvi2na8dbi3tgapb8l7as</string>
	<key>API_KEY</key>
	<string>AIzaSyCm9JO7usq4YOflpM7sPwNiKiFrq3t_RQw</string>
	<key>GCM_SENDER_ID</key>
	<string>106789122724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b93b4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b93b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106789122724:ios:61b20fa4d718c51f8f2c31</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-b93b4.firebaseio.com</string>
</dict>
</plist>